* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background-color: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid #ff523b;
    z-index: 2;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #ff523b !important;
    border-radius: 20px 0 0 20px !important;
    box-shadow: none !important;
}

.input-group-text {
    background: #ff523b !important;
    border: 1px solid #ff523b !important;
    margin: 8.5px 10px 3px 0;
    border-radius: 0 20px 20px 0 !important;
    cursor: pointer;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

.fa-magnifying-glass {
    color: aliceblue;
    font-size: 20px;
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: #ff523b;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}

.fa-cart-shopping {
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0;
    }

    .search-box {
        width: 100%;
    }
    
    .menu-bar {
        width: 100%;
    }

    \.menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }
    
}

/*...............................side menu............................*/

.side-menu {
    height: 79vh;
    width: 15%;
    font-size: 15px;
    float: left;
    z-index: 2;
    background-color: #ddd;
}

.side-menu ul {
    margin-left: 10px;
}

.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li:hover {
    color: #ff523b;
}

.side-menu ul li ul {
    display: none;
    z-index: 10;
    top: 77px;
}

.side-menu ul li:hover ul {
    display: block;
    height: 400px;
    margin-left: 12%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background-color: #ece7e7;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.fa-angle-right {
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}

#menu-bar, #close-btn {
    font-size: 30px;
    margin: 10px;
    color: #ff523b;
    display: none;
}

@media only screen and (max-width: 600px) {
    .side-menu {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 10px;
        display: none;
    }

    .side-menu ul li ul {
        top: 133px;
    }

    .side-menu ul li:hover ul {
        margin-left: 24%;
    }

    #menu-bar {
        display: block;
    }
    
}

/* ...............................slider............................ */

.slider {
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
}

.carousel {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
    z-index: 1 !important;
}

@media only screen and (max-width: 600px) {
    .slider {
        width: 100%;
        margin-left: 0;
    }
}